USE master;
GO

-- 1. Create the database if it doesn't exist
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'AXIOM')
BEGIN
    CREATE DATABASE AXIOM;
END
GO


USE AXIOM;
GO

-- 3. Create table for customers
CREATE TABLE [dbo].[Customers]
(
    [CustomerID] INT IDENTITY(1,1) PRIMARY KEY,
    [Name] NVARCHAR(100),
    [Email] NVARCHAR(100)
);
GO

-- 4. Create table for orders
CREATE TABLE [dbo].[Orders]
(
    [OrderID] INT IDENTITY(1,1) PRIMARY KEY,
    [CustomerID] INT,
    [OrderDate] DATE,
    [Total] DECIMAL(10,2)
);
GO
